[
    {
        "Id": 47253,
        "Type": "income",
        "Name": "interest",
        "Amount": 1050,
        "CreatedAt": "0001-01-01T00:00:00"
    },
    {
        "Id": 68431,
        "Type": "expense",
        "Name": "candy",
        "Amount": 950,
        "CreatedAt": "0001-01-01T00:00:00"
    },
    {
        "Id": 19789,
        "Type": "expense",
        "Name": "food",
        "Amount": 15000,
        "CreatedAt": "2026-05-04T16:01:39.1143467-03:00"
    },
    {
        "Id": 62445,
        "Type": "income",
        "Name": "payment",
        "Amount": 230000,
        "CreatedAt": "2026-05-04T16:02:08.9303692-03:00"
    }
]